<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Settings</h1>
    </div>

    <form class="form">
      <div class="col-sm-12">
        <label>Name: </label>
        <input type="text" ng-model="vm.change.newName" class="form-control mb-2 mr-sm-2 mb-sm-0" id="newName" placeholder="{{vm.user.name}}">
      </div>

      <div class="col-sm-12">
        <label>Email: </label>
        <input type="text" ng-model="vm.change.newEmail" class="form-control mb-2 mr-sm-2 mb-sm-0" id="newEmail" placeholder="{{vm.user.email}}">
      </div>
      <button type="submit" class="btn btn-primary" ng-click="vm.changeInformation()">Submit Changes</button>
      <p class="help-block"> {{ vm.message }} </p>
    </form>
    
    <div class="col-sm-12">
      <label>Birthday: </label>
      <p type="birthday" name="birthday" value="{{ vm.user.birthday }}" required></p>
    </div>


    <div class="col-sm-12">
      <label>Joined: </label>
      <p type="dateCreated" name="dateCreated" value="{{ vm.user.dateCreated }}" required></p>
    </div>

    <div class="col-sm-12">
      <p ui-sref-active="active">
        <a ui-sref="password">Change Password</a>
      </p>
    </div>
  </div>
</div>


