<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Website Reviews:</h1>
      <form class="form-inline">
        <label class="sr-only" for="searchWebURL">Web URL</label>
        <input type="text" ng-model="searchWebURL" class="form-control mb-2 mr-sm-2 mb-sm-0" id="searchWebURL" placeholder="Website URL">
        <button type="submit" class="btn btn-primary" ng-click="sitePagesCtrl.searchForURL(searchWebURL)">Search</button>
      </form>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="sitePage in sitePagesCtrl.sitePages">
        <li ui-sref-active="active">
          <a ui-sref="displaySite({_id: '{{sitePage._id}}', siteObject: {{sitePage}}})" uib-tooltip="{{sitePage.rating}}">{{sitePage.name}}</a>
        </li>
      </ul>
      <label>
        {{sitePagesCtrl.message}}
      </label>
    </div>
  </div>
</div>
